*{
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 18px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 7em;
  }
  
.logo img {
    height: auto;
    width: 74px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav{
    padding: 1.5% 0 0 3%;
}

nav a{
    color: #056839;
    font-size: 20px;
    font-family: 'Reem Kufi', sans-serif;
    margin-right: 25px;
    text-decoration: underline 1.7px #3c5dab00;
    transition: 200ms;
}

nav .page{
    text-decoration: underline 1.7px #3C5EAB;
}

nav a:hover{
    text-decoration: underline 1.7px #3C5EAB;
}

.mobnav {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
  }

  .mobnav .logo {
    display: inline-block;
    vertical-align: middle;
    width: 7em;
    padding: 2% 2.5%;
  }
  
.mobnav .logo img {
    height: auto;
    width: 74px;
}
  
  .mobnav #links {
    display: none;
  }
  
  .mobnav a {
    color: white;
    background-color: #044e2c;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .mobnav a.icon {
    background: rgba(255, 255, 255, 0);
    color: #044e2c;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin: 3%;
    font-size: 30px;
    transition: 0.2s;
  }
  
  .mobnav a:hover {
    color: #3C5EAB;
  }
  
  .active {
    background-color: #04AA6D;
    color: white;
  }

h1{
    font-size: 36px;
    font-weight: lighter;
    color: #056839;
    font-family: 'Reem Kufi', sans-serif;
}

h2{
    font-size: 36px;
    font-weight: lighter;
    color: #056839;
    font-family: 'Reem Kufi', sans-serif;
}

button{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid #056839;
    border-radius: 1em;
    color: #056839;
    padding: 10px 30px;
    margin: 2em 0 0 0;
    transition: 250ms;
}

.button a{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid #056839;
    border-radius: 1em;
    color: #056839;
    padding: 10px 30px;
    transition: 250ms;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

button:hover{
    cursor: pointer;
    color: #fff;
    background-color: #056839;
    border: 3px solid #044e2c;
    box-shadow: 0px 2px 7px #aaaaaa;

}

.button a:hover{
    cursor: pointer;
    color: #fff;
    background-color: #056839;
    border: 3px solid #044e2c;
    box-shadow: 0px 2px 7px #aaaaaa;

}

.dropdown{
    position: relative;
    display: inline-block;
}
  
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
  
.dropdown-content a{
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover{
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content{
    display: block;
}

footer{
    background-color: #056839;
    color: #fff;
}

.footer-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer h2{
    color: #fff;
    font-size: 24px;
}

footer li{
    font-size: 14px;
}

@media screen and (max-width: 667px)
{
    nav{
        display: none;
    }
    .mobnav{
        overflow: visible;
      }
}

@media screen and (min-width: 667px)
{
    nav{
        display: block;
    }
    .mobnav{
        display: none;
      }
}


