.top-wrapper{
    background-image: url(../img/localArea/topimg.jpg);
}

.content{
    display: flex;
    margin: 3em 0em 3em 4em
}

iframe{
    display: flex;
    width: 45%;
    float: left;
    margin-right: 2%;
    box-shadow: 0px 5px 7px #aaaaaa;
}

.content h2{
    margin-bottom: 2%;
}

.content p{
    color: #746161;

    padding: 2%;
    max-width: 500px;
}

.text{
    margin-left: 2em;
}

.top-wrapper p{
    margin-top: 3%;
    color: white;
}

.top-text{
    padding: 6%;
    max-width: 500px;
}

.top-wrapper{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    border-bottom: 4px solid #3C5EAB;
    box-shadow: 0px 5px 7px #aaaaaa;
}


#mobile iframe{
    display: none;
}

#mobile h2{
    display: none;
}

#mobile p{
    display: none;
}

@media screen and (max-width: 910px)
{

    .content iframe{
        display: none;
    }    
    
    .content h2{
        display: none;
    }

    .content p{
        display: none;
    }

    #mobile iframe{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #mobile h2{
        display: flex;
    }

    #mobile p{
        display: flex;
    }

}